.progressDiv{
    height: 10px;
    width: 100%;
    margin-top:7px;
    background-color: #f5f5f5;
    border-radius: 40px;
}

.childDiv{
    height: 100%;
    background-color: gray;
    border-radius:40px;
}